<!DOCTYPE html>

</body>
<html>
  <title>research:</title>
  <h1>Tobacco</h1>
  <h2> - Tobacco users age 12 or older (2016):</h2>                                                    
  <h3>-66.8% smoked cigarettes but used no other tobacco products</h3>
  <h4>-14.1% smoked cigarettes and used other typed of tobacco products.</h4>
  <h5>-19.1% used other tobaco products other than cigarettes</h5>                              
  <h6>-adults 26 or older, 20% did not smoke cigarettes</h16>
  <h7>how do people as young as 12 get tobacco?</h7>
  <h8>what are other tobacco products?</h8>
  <h9>resources: https://www.samhsa.gov/data/sites/default/files/NSDUH-FFR1-2016/NSDUH-FFR1-2016.pdf</h9>
</body>
</html>

